/* Structural/base elements  */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 400 15px 'Open Sans';
  color: #181f22;
}
html {
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  margin: auto;
}
div {
  margin: 0 auto;
  text-align: center;
}
p {
  margin: 12px auto;
  width: 100%;
  text-align: left;
}
p > a {
  color: #00ac9c;
  text-decoration: none;
}
p > a:hover {
  color: #008c7e;
  text-decoration: underline;
}

/* Intro section */
h1#page-title {
  margin: 24px auto 12px auto;
  font: 600 30px 'Open Sans';
}
div#intro,
div#chapters { max-width: 800px; }
p.intro {
  font: 400 15px 'Noticia Text';
  line-height: 1.6;
  color: #475c66;
}
p.intro > b { font-weight: 700; }
span.fas {
  color: #d2d9de;
  font-size: 24px;
}
span.fas:hover { color: #9daab3; }

/* Indicator selection dropdowns */
.navbar-brand {
  font: 600 20px 'Open Sans';
}
.navbar-nav {
  margin: 12px auto 24px auto;
}
.nav-item {
  background-color: #ecf0f2;
}
.nav-item .nav-link {
  font: 600 15px 'Open Sans';
  color: #181f22;
  text-decoration: none;
  text-align: center;
  padding: 8px 0px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover { color: #ffffff; }

.dropdown-menu {
  background-color: #f5f7f8;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
.dropdown-menu > li > a.indicator {
  font-size: 14px;
  color: #181f22;
  text-decoration: none;
  text-align: left;
  display: block;
  width: 450px;
  white-space: normal;
  padding: 8px 12px;
}

li#community:hover { background-color: #cc5f00; }
li#prosperity:hover { background-color: #cca600; }
li#environment:hover { background-color: #7acc00; }
li#governance:hover { background-color: #009ccc; }
li#mobility:hover { background-color: #6300cc; }
li#inclusive-growth:hover { background-color: #cc0000; }

a.community:hover { background-color: #f8ebdf; }
a.prosperity:hover { background-color: #f8f4df; }
a.environment:hover { background-color: #eef8df; }
a.governance:hover { background-color: #dff2f8; }
a.mobility:hover { background-color: #ebdff8; }
a.inclusive-growth:hover { background-color: #f8dfdf; }

/* Chart, legend, footnote */
div#chart {
  max-width: 800px;
  padding: 12px;
}
div#legend {
  max-width: 90%;
  margin-top: 8px;
}
div.legend-item {
  height: 18px;
  margin: 6px auto;
  padding-left: 6px;
  padding-right: 24px;
  display: inline-block;
}
div#footnote { margin-top: 24px; }
#chart > svg {
  width: 100%;
  height: auto;
}
path {
  stroke-width: 2px;
  fill: none;
}
path.target { stroke-dasharray: 8,4; }
.axis > path {
  stroke: #000000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
line.grid {
  stroke: #e3e8eb;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
h2#chart-title {
  font: 600 20px 'Open Sans';
  max-width: 90%;
}
.legend-item { font: 300 13px 'Open Sans'; }
.axis-title { font: 400 15px 'Open Sans'; }
.tick { font: 300 13px 'Open Sans'; }
.label { font: 400 13px 'Open Sans'; }
p.footnote { font: 300 15px 'Open Sans'; }
