/* Structural/base elements  */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 400 15px 'Open Sans';
    color: #181f22;
}
html {
    -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin: auto;
}
div {
    margin: 0 auto;
    text-align: center;
}
p {
    margin: 12px auto;
    width: 100%;
    text-align: left;
}
p > a {
    text-decoration: underline;
    color: #00ac9c;
}
p > a:hover {
    color: #008c7e;
}

/* Intro section */
h1#page-title { margin: 24px auto 12px auto; }
div#intro { width: 800px; }
p.intro {
    font-family: 'Noticia Text';
    line-height: 1.6;
    color: #475c66;
}
span.fas {
    color: #d2d9de;
    font-size: 24px;
}
span.fas:hover {
    color: #9daab3;
}

/* Indicator selection dropdowns */
div#chapters {
    width: 798px;
    position: relative;
}

ul#dropdowns {
  list-style-type: none;
  margin: 12px auto 24px auto;
  padding: 0;
  overflow: hidden;
}

li.drophead {
    width: 133px;
    float: left;
    display: inline-block;
    background-color: #ecf0f2;
}
li.drophead > a.chapter {
    font: 600 15px 'Open Sans';
    color: #181f22;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 0px;
}
li.drophead:hover > a.chapter { color: #ffffff; }
/*li.drophead:hover > div.droplist { display: block; }*/ /* Only want this behavior for non-touch devices! */

div.droplist {
    display: none;
    position: absolute;
    background-color: #f5f7f8;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
div.droplist#governance,
div.droplist#mobility,
div.droplist#inclusive-growth {
    right: 0;
}
div.droplist > a.indicator {
    font-size: 14px;
    color: #181f22;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 8px 12px;
}

li#community:hover { background-color: #cc5f00; }
li#prosperity:hover { background-color: #cca600; }
li#environment:hover { background-color: #7acc00; }
li#governance:hover { background-color: #009ccc; }
li#mobility:hover { background-color: #6300cc; }
li#inclusive-growth:hover { background-color: #cc0000; }

div.droplist > a.community:hover { background-color: #f8ebdf; }
div.droplist > a.prosperity:hover { background-color: #f8f4df; }
div.droplist > a.environment:hover { background-color: #eef8df; }
div.droplist > a.governance:hover { background-color: #dff2f8; }
div.droplist > a.mobility:hover { background-color: #ebdff8; }
div.droplist > a.inclusive-growth:hover { background-color: #f8dfdf; }

/* Chart, legend, footnote */
div#chart {
    width: 776px;  /* 800-(2*padding) */
    padding: 12px;
}
div#legend {
    max-width: 90%;
    margin-top: 8px;
}
div.legend-item {
    height: 18px;
    margin: 6px auto;
    padding-left: 6px;
    padding-right: 24px;
    display: inline-block;
}
path {
    stroke-width: 2px;
    fill: none;
}
path.target {
    stroke-dasharray: 8,4;
}
.axis > path {
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
line.grid {
    stroke: #e3e8eb;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
h2#chart-title {
    font: 600 20px 'Open Sans';
    max-width: 90%;
}
.legend-item { font: 300 13px 'Open Sans'; }
.axis-title { font: 400 15px 'Open Sans'; }
.tick { font: 300 13px 'Open Sans'; }
.label { font: 400 13px 'Open Sans'; }
p#footnote {
    margin: 0px;
    padding-top: 12px;
    text-align: right;
    font: 300 13px 'Open Sans';
}
